@page "/Pages/CustomerList"
<h3>Customer List</h3>

<input type="text" placeholder="Type your name here" @bind="FullName" @bind:event="oninput">

<button @onclick="()=>SaveNames(FullName)">
    Save
</button>

<hr>
<div style="width: 100%; height: 300px; background-color: #5a6268">
    @if (Names.Any())
    {
        @foreach (string name in Names)
        {
            <p>
                @name
            </p>
        }
    }
</div>

@code {
    public string FullName { get; set; }
    public List<string> Names { get; set; } = new List<string>();

    public void SaveNames(string name)
    {
        Names.Add(name);
    }



}